@import url(../template/template.css);

.main {
  border-bottom: solid black 1px;
}

#like {
  color: gray;
}


@font-face {
  font-family: "dream";
  src: url("../font/well Regular.ttf");
}
*{
  color: #4C6123;
  font-family: "dream";
}
.form1{
  float: left;
  width: 20%;
}

.form2 {
  float: left;
  margin-left: 100px;
  margin-top: 30px;
}

#line {
  border-bottom: solid black 2px;
  width: 800px;
  padding-top: 38px;
}

#itemnum {
  color: #aac779;
}

#like {
  color: gray;
  margin-left: 10px;
}
.likeitem {
  font-size: 25px;
  font-weight: bold;
}
#notlike {
  color: black;
  text-align: center;
  margin-top: 260px;
}
