<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div class="top"> 
    <h1> 관리자 </h1>
    <p>조민지 바보</p>
</div>


<div class="user_board">

<div class="board_title_container">
    <div class="num">번호</div>
    <div class="tag">회원</div> 
    <div class="id">아이디</div>
    <div class="username">이름</div>
    <div class="age">나이</div>
    <div class="phonNum">전화번호</div>
    <div class="brith">출생년도</div>
    <div class="join">가입일</div>
</div>

<div class="board_inner_container">

    <div class="num">번호</div>
    <div class="tag">회원</div> 
    <div class="id">아이디</div>
    <div class="username">이름</div>
    <div class="age">나이</div>
    <div class="phonNum">전화번호</div>
    <div class="brith">출생년도</div>
    <div class="join">가입일</div>

</div>

</div>

<div class="user_board_button">
    <button class="returnbt">돌아가기</button>

</div>


<div class="bottom"></div>


    
</body>
</html>