<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ONCHA_mypage9</title>
  <link rel="stylesheet" href="css/menu/csc.css">
</head>
<body>
 <!----------------------------------------공용--------------------------------------------------->
 <nav id="navbar_container">
  <div id="check-btn2" >
  <label for="check-btn"><img class="navmenu_bar" src="/img/메뉴.png"><a class="n_category" href ="#">카테고리</a></label>
    <ul class="menubars">
        <li><button class="order">주문/배송</button></li>
        <li><button class="reservation">예약</button></li>
        <li><button class="coupon">적립금/쿠폰</button></li>
        <li><button class="intro">온차소개</button></li>
        <li><button class="notification">공지사항</button></li>
        <li><button class="faq">자주하는질문</button></li>
        <li><button class="inquiry">고객센터</button></li>
        <li><button class="mypage2">개인정보수정</button></li>
    </ul>    
  </div>
  <button class="n_newitem"> 신상품 </button>
  <button class="n_bestitem"> 베스트 </button>
  <button class="n_sale"> 특가/혜택 </button>
  <input class="nav_search" type="text" placeholder="검색하기"/>
  <button  href ="#"><img class="nav_sbt" src="/img/검색.png"></button>
  <button class="mypage"><img src="/img/로그인_마이페이지.png"></button>
  <button class="shop" href ="#"><img src="/img/장바구니.png"></button></div>
  <!--<button class="search" href ="#"><img src="/img/검색.png"></button>
  <input class="innersearch" type="text" placeholder="검색하기"/>-->

  </nav>


<div class="login_bt">
  <a  href ="#"><img src="/img/logo3.png"></a>
  <h2>세상의 모든 차</h2>
  <input class="top_search" type="text" placeholder="검색하기"/>
  <button class="t_search_bt" href ="#"><img src="/img/검색.png"></button>

  <button class="CS">고객센터</button>
  <button class="register">회원가입</button>
  <button class="loginbt">로그인</button>
</div>
<!--head-->
<div id="menu_box">
  <a class="menu_bar" href ="#"><img src="/img/메뉴.png"></a>
  <a class="category" href ="#">카테고리</a>
  <button class="newitem"> 신상품 </button>
  <button class="bestitem"> 베스트 </button>
  <button class="sale"> 특가/혜택 </button>
  <button class="mypage"><img src="/img/로그인_마이페이지.png"></button>
  <button class="shop" href ="#"><img src="/img/장바구니.png"></button></div>
<!----------------------------------------공용--------------------------------------------------->
  
  
  
    <form class="form1">
    <P id="navP">MY ONCHA</p>
    <ul>
      <li><input class="navbutton" type="button" value="개인 정보 수정"></li>
      <li><input class="navbutton" type="button" value="주문 내역"></li>
      <li><input class="navbutton" type="button" value="적립금/쿠폰"></li>
      <li><input class="navbutton" type="button" value="찜한 상품"></li>
      <li><input class="navbutton" type="button" value="상품 후기"></li>
      <li><input class="navbutton" type="button" value="상품 문의"></li>
      <li><input class="navbutton" type="button" value="공지사항"></li>
      <li><input class="navbutton" type="button" value="자주하는 질문"></li>
      <li><input class="navbutton" type="button" value="1:1일 문의"></li> 
      <li><input class="navbutton1" type="button" value="제품 등록"></li>
    </ul>  
  </form>

  <form class="form2">
    <p id="title">1:1문의</p>
    <div class="line"></div>

    <div class="list">
      <span id="title_title">제목</span>
      <span id="title_date">작성일</span>
      <span id="title_answer">답변상태</span>
    </div>

    <div class="line"></div>

    <P class="q">1:1일 문의가 없습니다.</P>
  </form> 
</body>
</html>